#inventory-list
	font-size 12px
	margin-top 10px
	.inventory-list-room
		min-height 130px
		.inventory-list-room-title
			color #1f1f1f
			padding-bottom 5px
			margin-bottom 5px
			border-bottom 1px solid #a4a4a4
			padding-left 0
			padding-right 0
		.inventory-item-total
			text-align right